.usernameInput input {
    border: none;
    outline: none;
    background-color: inherit;
    color: white;
    width: 100%;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.shake {
    animation: shake 0.5s;
}

@media (0 <= width <= 768px) {

    .container {
        display: flex;
        flex-direction: column;
        width: 300px;
        gap: 10px;
    }

    .usernameInput {
        display: flex;
        align-items: center;
        width: 100%;
        height: 60px;
        border-radius: 10px;
        padding: 0 15px;
        gap: 15px;
        border-width: 3px;
        border-style: solid;
    }

    .usernameInput input {
        font-size: 18px;
    }

    .icon {
        font-size: 18px;
    }

    .errorMessage {
        color: #ed4337;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        word-wrap: break-word;
        margin-bottom: 0;
    }
}

@media (768px < width <= 1366px) {

    .container {
        display: flex;
        flex-direction: column;
        width: 515px;
        gap: 10px;
    }

    .usernameInput {
        display: flex;
        align-items: center;
        width: 100%;
        height: 65px;
        border-radius: 10px;
        padding: 0 15px;
        gap: 15px;
        border-width: 3.5px;
        border-style: solid;
    }

    .usernameInput input {
        font-size: 20px;
    }

    .icon {
        font-size: 20px;
    }
    
    .errorMessage {
        color: #ed4337;
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 0;
    }

}

@media (width > 1366px) {

    .container {
        display: flex;
        flex-direction: column;
        width: 570px;
        gap: 10px;
    }

    .usernameInput {
        display: flex;
        align-items: center;
        height: 70px;
        width: 100%;
        border-radius: 10px;
        padding: 0 15px;
        gap: 15px;
        border-width: 3.5px;
        border-style: solid;
    }

    .usernameInput input {
        font-size: 22px;
    }

    .icon {
        font-size: 22px;
    }

    .errorMessage {
        color: #ed4337;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 0;
    }
    
}