.passwordInput input {
    border: none;
    outline: none;
    background-color: inherit;
    width: 100%;
    color: white;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
      transform: translateX(-5px);
    }

    50% {
      transform: translateX(5px);
    }

    75% {
      transform: translateX(-5px);
    }

    100% {
      transform: translateX(0);
    }
}

.shake {
    animation: shake 0.5s;
}

@media (0 < width <= 768px) {

  .container {
      display: flex;
      flex-direction: column;
      width: 300px;
      gap: 10px;
  }

  .passwordInput {
      display: flex;
      align-items: center;
      width: 100%;
      height: 60px;
      border-radius: 10px;
      gap: 15px;
      padding: 0 15px;
      border-width: 3px;
      border-style: solid;
  }

  .passwordInput input {
      font-size: 18px;
  }

  .lockIcon, .eyeIcon {
      font-size: 18px;
  }

  .errorMessage {
      color: #ed4337;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      word-wrap: break-word;
      margin-bottom: 0;
  }

}

@media (768px < width <= 1366px) {

  .container {
      display: flex;
      flex-direction: column;
      width: 515px;
      gap: 10px;
  }

  .passwordInput {
      display: flex;
      align-items: center;
      width: 100%;
      height: 65px;
      border-radius: 10px;
      padding: 0 15px;
      gap: 15px;
      border-width: 3.5px;
      border-style: solid;
  }

  .passwordInput input {
      font-size: 20px;
  }

  .lockIcon, .eyeIcon {
      font-size: 20px;
  }

  .errorMessage {
      color: #ed4337;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 0;
  }

}

@media (width > 1366px) {

  .container {
      display: flex;
      flex-direction: column;
      width: 570px;
      gap: 10px;
  }

  .passwordInput {
      display: flex;
      align-items: center;
      width: 100%;
      height: 70px;
      border-radius: 10px;
      padding: 0 15px;
      gap: 15px;
      border-width: 3.5px;
      border-style: solid;
  }

  .passwordInput input {
      font-size: 22px;
  }

  .lockIcon, .eyeIcon {
      font-size: 22px;
  }

  .errorMessage {
      color: #ed4337;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 0;
  }
  
}