.navigateButton:active {
    background-color: #0d6efd;
}

.container {
    color: white;
}

.fadeAppear {
    opacity: 0;
}

.fadeAppearActive {
    opacity: 1;
    transition: opacity 1000ms;
}

@media (0 <= width <= 768px) {

    .container {
        height: 100%;
    }

    .registration {
        height: 100%;
        background-color: #1a1a1a;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        gap: 20px;
        font-size: 22px;
        height: 30%;
    }

    .navigation button {
        height: 60px;
        width: 275px;
        border: none;
        font-weight: 600;
        color: inherit;
        border-radius: 5px;
    }

    .main {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        height: 70%;
        align-items: center;
        gap: 20px;
    }

    .heading {
        font-size: 30px;
        word-wrap: break-word;
        text-align: center;
    }

    .main form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .linkButton {
        background-color: #0d6efd;
        border: none;
        font-size: 22px;
        border-radius: 5px;
        height: 55px;
        width: 165px;
        font-weight: 600;
        color: inherit;
    }

    .linkButton:disabled {
        background-color: rgba(13, 110, 253, 0.5);
        color: rgba(255, 255, 255, 0.5);
    }

    .loginButton {
        background-color: #0d6efd;
        border: none;
        font-size: 22px;
        border-radius: 5px;
        height: 55px;
        width: 185px;
        font-weight: 600;
        color: inherit;
    }

    .loginButton:disabled {
        background-color: rgba(13, 110, 253, 0.5);
        color: rgba(255, 255, 255, 0.5);
    }

}

@media (768px < width <= 1366px) {

    .container {
        height: 100%;
    }

    .registration {
        height: 100%;
        background-color: #1a1a1a;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: end;
        height: 20%;
        font-size: 24px;
        gap: 15px;
    }

    .navigation button {
        height: 60px;
        width: 250px; 
        border: none;
        font-weight: 600;
        color: inherit;
        border-radius: 5px;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80%;
        gap: 20px;
    }

    .heading {
        font-size: 32px;
        word-wrap: break-word;
        text-align: center;
    }

    .main form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .linkButton {
        height: 60px;
        width: 200px;
        background-color: #0d6efd;
        color: inherit;
        border: none;
        font-size: 24px;
        border-radius: 5px;
        font-weight: 600;
    }

    .linkButton:disabled {
        background-color: rgba(13, 110, 253, 0.5);
        color: rgba(255, 255, 255, 0.5);
    }

    .loginButton {
        height: 60px;
        width: 200px;
        background-color: #0d6efd;
        color: inherit;
        border: none;
        font-size: 24px;
        border-radius: 5px;
        font-weight: 600;
    }

    .loginButton:disabled {
        background-color: rgba(13, 110, 253, 0.5);
        color: rgba(255, 255, 255, 0.5);
    }

}

@media (width > 1366px) {

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: #0E0E0E;
    }

    .registration {
        height: 600px;
        width: 675px;
        border-radius: 10px;
        background-color: #1a1a1a;
        box-shadow: rgb(0, 0, 0) 0px 5px 15px;
    }

    .navigation {
        display: flex;
        justify-content: center;
        align-items: end;
        height: 25%;
        font-size: 26px;
        gap: 15px;
    }

    .navigation button {
        height: 70px;
        width: 275px; 
        border: none;
        font-weight: 600;
        color: inherit;
        border-radius: 5px;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75%;
        gap: 20px;
    }

    .heading {
        font-size: 32px;
        word-wrap: break-word;
        text-align: center;
    }

    .main form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .linkButton {
        height: 60px;
        width: 200px;
        background-color: #0d6efd;
        color: inherit;
        border: none;
        font-size: 24px;
        border-radius: 5px;
        font-weight: 600;
    }

    .linkButton:disabled {
        background-color: rgba(13, 110, 253, 0.5);
        color: rgba(255, 255, 255, 0.5);
    }

    .loginButton {
        height: 60px;
        width: 200px;
        background-color: #0d6efd;
        color: inherit;
        border: none;
        font-size: 24px;
        border-radius: 5px;
        font-weight: 600;
    }

    .loginButton:disabled {
        background-color: rgba(13, 110, 253, 0.5);
        color: rgba(255, 255, 255, 0.5);
    }

}
