* {
  color: white;
  margin: 0;
  box-sizing: border-box;
}

.submitButton:active {
  background-color: #0d6efd;
}

.link a {
  color: white;
}

@media (0 <= width <= 768px) 
{
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1a1a1a;
    height: 100%;
    width: 100%;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 22.5px;
  }

  .buttons button {
    width: 300px;
    height: 60px;
    border: none;
    font-weight: 600;
  }

  .signUpHeading {
    font-size: 30px;
    word-wrap: break-word;
    text-align: center;
  }

  .signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .submitButton {
    background-color: #0d6efd;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    height: 60px;
    width: 225px;
    font-weight: 600;
  }

  .signInHeading {
    font-size: 31px;
    text-align: center;
    word-wrap: break-word;
  }

  .signInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .logInButton {
    background-color: #0d6efd;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    height: 60px;
    width: 200px;
    font-weight: 600;
  }

  .signInPasswordContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
  }
}

@media (768px < width <= 1366px) 
{
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .registration {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: #1a1a1a;
    row-gap: 40px;
  }

  .buttons {
    display: flex;
    column-gap: 15px;
  }

  .buttons button {
    border: none;
    font-size: 24px;
    border: none;
    height: 60px;
    width: 250px; 
    font-weight: 600;
  }

  .signUpHeading {
    font-size: 32.5px;
    word-wrap: break-word;
    text-align: center;
  }

  .signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .submitButton {
    background-color: #0d6efd;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    height: 60px;
    width: 225px;
    font-weight: 600;
  }

  .signInHeading {
    font-size: 35px;
    text-align: center;
    word-wrap: break-word;
  }

  .signInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .link {
    font-size: 18px;
  }

  .signInPasswordContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
  }

  .logInButton {
    background-color: #0d6efd;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    height: 60px;
    width: 200px;
    font-weight: 600;
  }
}

@media (width > 1366px) 
{
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #0E0E0E;
  }

  .registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1a1a1a;
    width: 675px;
    height: 600px;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
  }

  .buttons {
    display: flex;
    column-gap: 15px;
  }

  .buttons button {
    border: none;
    font-size: 25px;
    border: none;
    height: 70px;
    width: 275px; 
    font-weight: 600;
  }

  .signUpHeading {
    font-size: 35px;
    word-wrap: break-word;
    text-align: center;
  }

  .signUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .submitButton {
    background-color: #0d6efd;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    height: 60px;
    width: 225px;
    font-weight: 600;
  }

  .signInHeading {
    font-size: 35px;
    text-align: center;
    word-wrap: break-word;
  }

  .signInForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }

  .link {
    font-size: 20px;
  }

  .signInPasswordContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
  }

  .logInButton {
    background-color: #0d6efd;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    height: 60px;
    width: 225px;
    font-weight: 600;
  }
}
