.inputGroup {
  display: flex;
  height: 76px;
  width: 95%;
  padding: 12px 0;
}

.inputGroup input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  border: none!important;
}

.inputGroup button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 60px;
  height: 100%;
}
@media (0 <= width <= 768px) {
  :global(.main) {
    padding: 0;
  }
}
