.app {
  display: grid;
  grid-template-columns: 20% auto;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.sidebar {
  height: 100vh;
}

.chat {
  height: 100vh;
}

@media (0 <= width <= 768px) {
  .sidebar {
    display: none;
  }

  .chat {
    grid-column: 1 / -1;
    height: 100%;
  }
}
